body {
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: row;
}
.left-side {
    max-width: 600px;
    position: relative;
}
.right-side {
    margin: 0px;
    background-color: #fafafa;
    min-width: 670px;
    position: relative;
}
.card-container {
    position: relative;
}
.info {
    padding: 50px 50px 0px;
    background-color: #fafafa;
}
.form-container {
    padding: 0px 50px 50px;
}
.form-item {
    margin-bottom: 10px;
}
.create-account {
    padding: 0px 50px 50px;
    
}
.background-img {
    width: 500px;
    max-height: 100%;
    position: relative;
    
}
form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.lets {
    background-color: white;
}
.form-item {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}
.input-field {
    border-radius: 2.5px;
    width: 200px;
}
.create-account {
    padding-top: 20px;
}
.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    top: 150px;
}
.odin {
    height: auto;
    max-width: 50px;
}
button {
    background-color: #596D48;
    border: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

input {
    border: #E5E7EB solid 1px;
}
input:focus {
    outline: #3a69c7 solid 1px;
    box-shadow: 1px 1px 5px #E5E7EB;
}
a {
    color: #596D48;
    text-decoration: none;
}
