.container {
    display: flex;
    flex-direction: row;
}
.left-side {
    max-width: 600px;
}
.background-img {
    width: 500px;
    max-height: 100%;
}

.logo-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}
button {
    color: #596D48;
}